@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Poppins:300,400,500,600,700&subset=latin-ext');

h1, h2, h3, h4, h5, h6{
	font-family: 'Poppins', sans-serif;
	color:  #68D9FB;
	font-weight: 300;
}

p{
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
    line-height: 1.4;
	color: #323232;
}

ul{
	list-style-type: none;
}

li {
	padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.nav { 
	background-color: #010101;
	padding: 1% 2%;
	display: flex;
}

.logo-nav{
	display: inline-block;
	height: 36px;
	margin-top: 4px;
}

.logo-txt {
    color: #68D9FB;
    margin-left: -22px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Poppins', sans-serif;
}

.logo {
	animation: logo-spin infinite 20s linear;
	width: 213px;
}

@keyframes logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

img {
	width: 100px;
}

.headline {
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 400;
	color: white;
}

h1.headline{
	font-size: 2.5em;
}

.nav-left{
	display: flex;
	justify-content: flex-start;
	padding-top: 2px;
	width: 10%;
}

.nav-right{
	display: flex;
	flex-grow: 2;
	justify-content: flex-end;
	padding-right: 2%;
}

.link-menu {
	display: block;
	text-align: center;
	padding: 0 3px;
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.link-menu:hover{
	color: #68D9FB;
}

.ui.inverted.menu {
	border-radius: 0;
}

.search{
	padding-left: 1%;
	margin-top: -5px;
}

.container-full {
	width: 100%;
	padding: 0.5% 2%;
	text-align: center;
}

/* HEADER - home page */

.header {
	background-color: #262626;
	padding: 2%;
}

button {
	background-color: #68D9FB;
	color: white;
	border: none;
	padding: 10px 25px;
	text-align: center;
	font-size: 20px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: 1%;
}

button:hover {
    background-color: white;
    color: #68D9FB;
    border: 1px solid #68D9FB;
    cursor: pointer;
}

/* OVERVIEW - home page */

.overview {
	padding: 0.5% 2% 3%;
}

.icons{
	width: 60px;
	transition: transform .2s;
}

.icons:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.row-3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1% 7%;
}

.column-3 {
	width: 35%;
	padding: 40px 60px;
	line-height: 1.6;
}

/* TUTORIALS - home page */

.tutorials {
	background-color:#323232;
	padding: 1.5% 0 3%;
}

.row-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 1100px;
	margin: auto;
}

.column-2 {
	width: 40%;
	margin: 30px 50px;
	padding: 60px;
	background-color: white;
}

.examples{
	padding: 2% 3%;
}


.sidebar{
	width: 30%;
	padding: 3% 1% 5% 4%;

}

.comment {
	border-bottom: 1px solid black;
	margin-bottom: 15px;
}

/* FOOTER */

.footer{
	background-color: #010101;
    width: 100%;
	padding: 20px 0 20px 0;
    text-align: center;
    transition: 200ms;
    
}

/* Animation */

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}

@media only screen and (max-width: 1600px) {
    .nav-left{
		width: 19%;
	}

	.container-full{
		max-width: 100%;
	}
}

/* Modals */
.modal-img{
	width: 150px;
}

/* LOGIN FORM */

.loginForm {
	width: 400px;
	margin: 40px auto;
	padding: 25px;
	border: 1px solid #dedede;
	box-shadow: 0px 1px 10px 0px #eeeeee;
	transition: 0.5s;
}

.loginForm h1, h4 {
	text-align: center;
}


.loginForm:hover {
	box-shadow: 0px 2px 10px 4px #eeeeee;
}

.ui.form .field {
	margin: 20px 0px !important;
}

.textHightlight {
	color: #68D9FB;
	font-weight: 600;
}

.formContainer {
	margin: 50px auto;
}